* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: rgb(24, 26, 27);
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: rgb(38, 42, 43);
	border-radius: 10px;
}

/* Style the topnav buttons */
.topnav .button {
	float: left;
	display: block;
	color: #ddd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: rgb(38, 42, 43);
	border-style: none;
}

#makeRockBtn {
	background-color: green;
}

#makeRockBtn:hover {
	background-color: #ddd;
	color: black;
}

/* Change color on hover */
.topnav .button:hover {
	background-color: #ddd;
	color: black;
}

.boxes {
	text-align: center;
	text-decoration: none;
	border-style: none;
	width: 47%;
	height: 50px;
	font-size: 30px;
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	margin: 20px;
}

.instructions p {
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
